*{
    box-sizing: border-box;
    margin: 0 auto;
}
h2{
    text-transform: uppercase;
}
div{
    margin-top: 20px;
    width: 400px;
    height: 450px;
    border: 1px solid gray;
    padding-left: 20px;
    box-shadow: 4px 4px 3px rgb(128, 128, 128), -4px -4px 3px rgb(128, 128, 128);
}