*{
    box-sizing: border-box;
    margin: 0 auto;
}
div{
    margin-top: 20px;
    border: 2px solid rgb(95, 170, 216);
    width: 800px;
    height: 490px;
}

legend{
    margin-left: 10px;
}

table{
    margin-left: 10px;
}
